<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Login</h2>
      <h3>Keep URLs and more</h3>

      <form action="/auth/login" method="POST">
        <div>
          Email: <input type="email" name="email" placeholder="johndoe@gmail.com">
        </div>
        <div>
          Login password: <input type="password" name="password">
        </div>

        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
