<!-- signup new user -->

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Sign up</h2>
      <h3>Favourite urls and refer to them anytime you want</h3>

      <form action="/auth/signup" method="POST">
        <div>
          Name: <input type="text" name="name" placeholder="John Doe">
        </div>
        <div>
          Email: <input type="email" name="email" placeholder="johndoe@gmail.com">
        </div>
        <div>
          Login password: <input type="password" name="password">
        </div>

        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
