<% if (alerts.error) { %>
  <% alerts.error.forEach(function(msg) { %>
    <div class="container-fluid alert alert-danger alert-dismissible">
      <div class="row">
        <div class="col-sm-12 text-center">
      <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      </div>
    </div>
  <% }); %>
<% } %>
<% if (alerts.success) { %>
  <% alerts.success.forEach(function(msg) { %>
    <div class="container-fluid alert alert-success">
      <div class="row">
        <div class="col-sm-12 text-center">
      <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      </div>
    </div>
  <% }); %>
<% } %>
