<!-- equivalent to index.html -->

<!-- TODO: add brief instructions on how to phrase search term as landing page -->

<!-- TODO: add Scrollspy bootstrap for auto active navbar highlight -->
<!-- http://getbootstrap.com/javascript/#scrollspy -->
<!-- TODO: consider Tooltip for search field -->
<!-- http://getbootstrap.com/javascript/#tooltips -->

<!-- TODO: add smooth scroll for anchor jumps -->
<!-- maybe helpful: http://wibblystuff.blogspot.sg/2014/04/in-page-smooth-scroll-using-css3.html -->

<!-- large modal popup dialog -->
<div class="modal fade iframe-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg modal-custom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <iframe
      width="100%"
      class="iframe-height"
      frameborder="0"
      scrolling="yes"
      src="">
    </iframe>
    </div>
  </div>
</div>

<!-- Modal for login -->
<div class="modal fade signup-login-modal" tabindex="-1" role="dialog" aria-labelledby="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Welcome back!
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <!-- LOGIN FORM -->
      <div class="modal-body">
        <form action="/login" method="POST" role="form" data-toggle="validator">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="mary@doe.com" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="********" required>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>

      <div class="modal-footer">
        Not registered yet?
        <a href="/signup" class="btn btn-success">Signup</a>
      </div>

    </div>
  </div>
</div>

<!-- =============== Results =================== -->
<div class="container-fluid">
  <!-- Display user messages -->
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h4 id="user-msg"></h4>
    </div>
  </div>
  <!-- Search term message display -->
  <div class="row text-center">
    <h4>Current search: <span class="lead" id="search-term"></span></h4>
  </div>

</div>

<div class="container">
  <!-- How many results to show (ask user) -->
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      Number of results per search:
      <select id="results-limit" class="">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option selected>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  </div>

  <!-- =========== Results display stage ============ -->
  <!-- results for Wikipedia search -->
  <div class="row">
    <div id="wikipedia" class="col-sm-8 col-sm-offset-2">
      <h2>Wikipedia</h2>
      <hr>
    </div><!-- /.col-sm-8 -->
  </div><!-- /.row -->

  <div class="row">
    <div id="nyt" class="col-sm-8 col-sm-offset-2">
      <h2>The New York Times</h2>
      <p>They count cookies. I've heard you can eat them up by clearing your browser cookie history...</p>
      <hr>
    </div><!-- /.col-sm-8 -->
  </div><!-- /.row -->

  <!-- results for Google search -->
  <div class="row">
    <div id="guardian" class="col-sm-8 col-sm-offset-2">
      <h2>The Guardian</h2>
      <p>They blocked same-window viewing. Please open in new tab to view articles from Guardian.</p>
      <hr>
    </div><!-- /.col-sm-8 -->
  </div><!-- /.row -->

</div><!-- /.container -->
