<!-- signup new user -->

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Sign up</h2>
      <h3>Favourite urls and refer to them anytime you want</h3>

      <form action="/signup" method="post">
        <div>
          First name: <input type="text" name="firstName" placeholder="Mary" required>
        </div>
        <div>
          Last name: <input type="text" name="lastName" placeholder="Doe" required>
        </div>
        <div>
          Email: <input type="email" name="email" placeholder="marydoe@gmail.com" required>
        </div>
        <div>
          Spidey password: <input type="password" name="password" required>
        </div>

        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
