<!-- displays all favourite urls -->
<!-- button to delete urls from favs -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Your saved urls</h2>
      <ul>
        <li>http://stackoverflow.com/questions/27637609/understanding-passport-serialize-deserialize</li>
        <li>https://davified.gitbooks.io/wdi-5-gitbooks/content/05-express/express-intro/05crudexpress.html</li>
        <li>http://melissamesku.com/#about</li>
        <li>http://eloquentjavascript.net/02_program_structure.html</li>
        <li>http://expressjs.com/en/api.html#res.locals</li>
        <li>https://github.com/blog/2256-a-whole-new-github-universe-announcing-new-tools-forums-and-features</li>
        <li>http://passportjs.org/docs</li>
        <li>https://expressjs.com/en/starter/static-files.html</li>
        <li>https://youtube.com</li>
        <li>https://wikipedia.com</li>
      </ul>
    </div>
  </div>
</div>
