<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Edit profile</h2>
      <form action="/users/<%= currentUser.id %>?_method=PUT" method="POST">
        <div>
          First name: <input type="text" name="firstName" value="<%= currentUser.firstName %>" required>
        </div>
        <div>
          Last name: <input type="text" name="lastName" value="<%= currentUser.lastName %>" required>
        </div>
        <div>
          Email: <input type="email" name="email" value="<%= currentUser.email %>" required>
        </div>

        <button type="submit">Save changes</button>

      </form>
    </div>
  </div>
</div>
