<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Your account</h2>

      <a href="/users/<%= currentUser.id %>/edit">
        <p>edit account info</p>
      </a>

      <a href="/logout">
        <p>logout</p>
      </a>

    </div>
  </div>
</div>
