<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Your account</h2>
      <a href="/users/<%= user.id %>/edit">
        <p>edit account info</p>
      </a>

    </div>
  </div>
</div>
