<!-- displays all favourite urls -->
<!-- button to delete urls from favs -->

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Your saved urls</h2>
      
      <ul>
        <% for (var i = 0; i < data.length; i++) { %>
          <a href="<%= data[i].dataValues.url %>" target="_blank">
            <li><%= data[i].dataValues.url %></li>
          </a>
        <% } %>
      </ul>
    </div>
  </div>
</div>
